/target/classes/archetype-resources/src/main/java/App.java
/src/main/resources/archetype-resources/src/test/java/AppTest.java
/target/classes/archetype-resources/src/test/java/AppTest.java
/src/main/resources/META-INF/maven/archetype.xml
/target/classes/META-INF/maven/archetype.xml
/.idea/compiler.xml
/.idea/encodings.xml
/target/test-classes/HotelSearch.class
/.idea/jarRepositories.xml
/.idea/misc.xml
/src/main/resources/archetype-resources/pom.xml
/target/classes/archetype-resources/pom.xml
/.idea/.gitignore
